
h1 {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1 {
    text-align: center;
    color: yellow;
}
body {
    background-image: url("/images/wave.gif");
    background-color: #cccccc;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: purple;
    color: white;
}
li b {
    display: block;
    color: yellow;
    padding: 8px 16px;
    text-decoration: none;
}


li b:hover:not(.active) {
    background-color: purple;
    color: white;
}
h2 {
    border: 5px solid powderblue;
}
p1 { text-decoration: underline
    
}

.btn-group .button {
    background-color: white
    border: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:hover {
    background-color: purple;
}